@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .main-layout {
        @apply md:w-2/5 pt-12 mx-auto w-full h-full px-6 md:px-0;
    }

    .welcome {
        @apply flex flex-col items-center justify-around md:w-2/5 h-full mx-auto pb-20 text-center px-8;
    }

    .primary-button {
        @apply py-2 md:px-4 px-2 rounded-3xl text-white text-[18px] flex items-center justify-center space-x-2;
    }

    .heading-primary {
        @apply text-[36px] font-bold text-pokeGray-400;
    }

    .heading-secondary {
        @apply text-[26px] font-bold text-pokeGray-400;
    }

    .regular-text {
        /*@apply text-[1.2rem] font-medium*/
        @apply text-[18px] font-medium
    }

    .pokemon-image-container {
        @apply bg-[url('/background.png')] md:h-48 h-44 w-full relative py-4 bg-cover bg-center;
    }

    .pokemon-image {
        @apply z-10 absolute top-2 right-2 bg-no-repeat;
    }

    .pokemon-list-row {
        @apply pl-2 font-semibold text-[1.2rem] text-pokeGray-400 cursor-pointer capitalize;
    }

    .bottom-bar {
        @apply bg-white w-screen bottom-0 absolute z-10 left-0 items-center shadow-2xl;
    }

    .bottom-bar-buttons {
        @apply md:w-2/5 self-center py-6 flex justify-between mx-auto md:gap-6 gap-4 px-6 md:px-0;
    }

    .dialog-background {
        @apply fixed inset-0 bg-black bg-opacity-50 z-50 flex items-center justify-center h-full w-full;
    }

    .dialog {
        @apply bg-white md:w-2/5 w-full mx-8 md:mx-auto h-3/4 rounded-md flex flex-col overflow-hidden;
    }

    .pokemon-info-table {
        @apply capitalize border-b-[1px] border-pokeGray-100 py-3 text-[1.3rem] h-fit ;
    }

    .pokemon-info-table-container {
        @apply flex flex-col flex-1 md:px-8 px-4 overflow-hidden;
    }

    .loader {
        @apply h-screen flex items-center justify-center;
    }

    .not-found {
        @apply flex flex-col justify-between items-center h-1/2 space-y-4 mt-8;
    }

    .pokemones-list {
        @apply max-h-[80vh] overflow-y-auto space-y-2 mt-12 relative ;
    }

    .search-bar {
        @apply rounded-md shadow-sm w-full p-4 flex gap-3 bg-white;
    }

    .dialog-close-button {
        @apply z-10 absolute top-2 right-2 bg-no-repeat;
    }
}

@layer utilities {
    .no-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

#app {
    @apply text-pokeGray-300 bg-pokeWhite-100 w-full h-screen mx-auto overflow-hidden text-[1.4rem] ;
}


